@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.forecast-table {
  overflow: hidden;
  max-height: 0;
  transition: max-height 5s ease-in;
}

.forecast-table.show {
  max-height: 1000px;
  transition: max-height 5s ease-in;
}
